body {
    color: white;
    background:
        radial-gradient(circle, rgb(0, 25, 27), rgb(15, 3, 0)),
        black;
    text-align: center;
    margin: 0px;
    padding: 2em 0 3em 0;
    font-family: 'Inconsolata', monospace;
}

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    max-width: unset;
    z-index: 999998;
    pointer-events: none;
    background: hsl(12, 100%, 2%);
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}



#paypal-fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    max-width: unset;
    z-index: 999998;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#paypal-fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#paypal-fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}



#grain-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    max-width: unset;
    z-index: 999999;
    pointer-events: none;
    opacity: 1;
    background: url('out.gif');
    background-repeat: repeat;
    background-size: 100px;
    mix-blend-mode: soft-light;
}


#youtube-embed {
    border-radius: 10px;
    width: calc(560px * 1.5);
    height: calc(315px * 1.5);
    margin: 3em auto;
}

#site-logo {
    height: 100px;
    margin-top: 30px;
}

button {
    cursor: pointer;
}

/* RESPONSIVE ATTRIBUTES */

/* Phones */
@media only screen and (max-device-width: 480px) {
    body {
        font-size: 16px;
        padding: 0px 10px;
        padding-top: 20px;
    }
    #title-logo {
        font-size: 4em;
    }
}

/* Tablets */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    body {
        font-size: 17px;
        padding: inherit 30px;
    }
    #title-logo {
        font-size: 4em;
    }
}

/* Laptops */
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    body {
        font-size: 18px;
        padding: inherit 50px;
    }
    #title-logo {
        font-size: 4em;
    }
}

/* Desktops */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    body {
        font-size: 19px;
    }
    body > * {
        max-width: 900px;
        margin: 30px auto;
    }
    #title-logo {
        font-size: 4em;
    }
}

/* Extra large */
@media only screen and (min-device-width: 1441px) {
    body {
        font-size: 20px;
    }
    body > * {
        max-width: 980px;
        margin: 30px auto;
    }
    #title-logo {
        font-size: 4em;
    }
}



/* Scroll bars */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #1f1f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(77, 77, 77);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(150, 150, 150);
}