{% extends 'master.html' %}

{% block title %}{{video.title}}{% endblock %} <!-- Confirm this is working -->

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/beat.css')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='styles/beatlibrary.css')}}"/>
{% endblock %}

{% block body %}
<h1>{{video.title}}</h1>
<h2>{{video.beat_name}}</h2>
<div>
  {% if video.link_to_mixdowns %}
  ✔ Mixdowns available for instant download
  {% else %}
  Contact me for Mixdown files
  {% endif %}
</div>
<div>
  {% if video.link_to_stems %}
  ✔ Stems available for instant download
  {% else %}
  Contact me if you need the Stems
  {% endif %}
</div>
<iframe id="youtube-embed" src="https://www.youtube.com/embed/{{video.id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<form action="{{url_for('paypal.create_order', video_id=video.id, video_title=video.title)}}">
  <button type="submit">Purchase</button>
</form>

<p>{{video.description}}</p>

{% endblock %}
