{% extends 'master.html' %}

{% block title %}Beat Library{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/beatlibrary.css')}}"/>
<audio id="audio" src=""></audio>
{% endblock %}

{% block body %}
<h1>Beat Library</h1>
<p>Browse my collection of beats.</p>

<progress id="seekbar" value="0"></progress>

<!-- <input
    id="seek"
    type="range"
    min="0"
    max="100"
    value="0"
    step="0.0001"
/> -->

<div id="beat-library">
    {% for video in videos %}
    <div class="beat grid-container">
        <img class="grid-item" src="{{video.thumbnail}}" alt="thumbnail" height="100%">
        <div class="grid-item">
            <h4>{{video.beat_name}}</h4>
            <p>135 BPM | No Uncleared Samples | Upbeat</p>
        </div>
        <div>
            <form class="grid-item" action="{{url_for('beats.beat', video_id=video.id)}}">
                <button type="submit"><i class="fa-solid fa-cart-shopping"></i><p>Buy</p></button>
            </form>
            <button id="play-button-{{video.id}}" class="play-button" value="{{video.link_to_video_audio}}"><i class="fa-solid fa-play"></i>Play</button>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{{url_for('static', filename='js/beat_library.js')}}"></script>


{% endblock %}