<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://www.favicon.cc/logo3d/730577.png">

    {% block head %}{% endblock %}

</head>

<!-- <body onload="document.body.style.opacity='1'; document.body.style.opacity='1';"> -->
<body>

    <svg id="fader"></svg>

    <svg id="grain-overlay"></svg>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <a href="{{url_for('home')}}">
        <img id="site-logo" src="/static/images/Screenshot-2021-08-28-010916-_1_-stroke-and-fill-svg.png" alt="logo">
    </a>
    
    {% block body %}{% endblock %}

    <script src="https://kit.fontawesome.com/66d5817b83.js" crossorigin="anonymous"></script> <!--This might slow down page load times-->

    <script src="{{url_for('static', filename='js/page-transitions.js')}}" onload="fadeInPage()"></script>

</body>

</html>