{% extends 'master.html' %}

{% block title %}RECEIPT{% endblock %} <!-- Confirm this is working -->

{% block body %}
<h1>RECEIPT</h1>
<h3>Thank you for your order!</h3>
<div>Order ID: {{order_id}}</div>

<h2>You purchased:</h2>
<h3>{{beat_name}}</h3>
<h4>{{title}}</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div>
    {% if mixdown_folder %}
        <a href="https://drive.google.com/drive/folders/{{mixdown_folder}}?usp=sharing" target="_blank">Download mixdowns</a>
    {% endif %}
    {% if stems_folder %}
        <a href="https://drive.google.com/drive/folders/{{stems_folder}}?usp=sharing" target="_blank">Download stems</a>
    {% endif %}
</div>

{% endblock %}