{% extends 'master.html' %}

{% block title %}Fetch Videos{% endblock %} <!-- Confirm this is working -->

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/update-database.css')}}">
{% endblock %}

{% block body %}
<form action="#" method="post">
    <button type="submit">Force update</button>
</form>

<h2>Current database:</h2>
<table id="database-summary">

    <tr>
        <th>YouTube ID</th>
        <th>YouTube Title</th>
        <th>Beat Name</th>
        <th>Artist Tags</th>
        <th>Beat Mixdowns</th>
        <th>Beat Stems</th>
        <th>Audio URL</th>
    </tr>

    {% for i in videos %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.title }}</td>
        <td>{{ i.beat_name }}</td>

        {% if i.tags %}
        <td>{{ i.tags }}</td>
        {% else %}
        <td></td>
        {% endif %}

        {% if i.link_to_mixdowns %}
        <td><a href="https://drive.google.com/drive/folders/{{i.link_to_mixdowns}}?usp=sharing" target="_blank">{{i.link_to_mixdowns}}</a></td>
        {% else %}
        <td></td>
        {% endif %}

        {% if i.link_to_stems %}
        <td><a href="https://drive.google.com/drive/folders/{{i.link_to_stems}}?usp=sharing" target="_blank">{{i.link_to_stems}}</a></td>
        {% else %}
        <td></td>
        {% endif %}

        {% if i.link_to_video_audio %}
        <td><a href="{{i.link_to_video_audio}}" target="_blank">{{i.link_to_video_audio}}</a></td>
        {% else %}
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}

</table>
{% endblock %}