#beat-library > .beat {
    margin-bottom: 10px;
}

.beat.grid-container {
    border-radius: 5px;
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    grid-template-rows: 75px;
    background-color: rgba(0, 29, 34, 0.53);
    gap: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}

.beat.grid-container:hover {
    background-color: rgba(6, 45, 63, 0.53);
}

button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(39, 100%, 10%);
    font-weight: bolder;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 7em;
    margin-right: 10px;
}

button > * {
    display: inline;
    margin: auto 3px;
}

button:hover {
    background-color: hsl(36, 100%, 50%);
}

.grid-item {
    text-align: left;
    display: block;
    margin: auto 0px;
}

.grid-item > h4 {
    margin: 0px;
    color: rgb(0, 165, 177);
}
.grid-item > p {
    margin: 0px;
    font-size: 0.8em;
}

img.grid-item {
    border-radius: 5px;
}

a:link { text-decoration: none; color: inherit; }
a:visited { text-decoration: none; color: inherit;}
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


/* Seek bar formatting */

.audio-player {
    background-color: rgb(0, 9, 12);
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 75px;
    max-width: none;
    z-index: 100;
}

.audio-player > * {
    display: block;
}

.audio-player > .play {
    margin: 0px auto;
}

input.seek {
    width: 100%;
    margin: 0;
}








input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #000000;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #00a37a;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #ac51b5;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #65001c;
    cursor: pointer;
}

/* Consider webkit browser compatability */






/* Scroll bars */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #1f1f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(77, 77, 77);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(150, 150, 150);
}